#  Template python-build

#  This template allows you to validate your python code.
#  The workflow allows running tests and code linting on the default branch.

image: python:3.11

pipelines:
  default:
    - step:
        name: Run Tests
        caches:
          - pip
        script:
          - pip install -r requirements.txt
          - pip install pytest
          - pytest -v main/tests --junitxml=test-reports/report.xml
        artifacts:
          - test-reports/**

definitions:
  services:
    postgres:
      image: postgres:13
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: password
        POSTGRES_DB: postgres