#  Template python-build

#  This template allows you to validate your python code.
#  The workflow allows running tests and code linting on the default branch.

image: python:3.11

pipelines:
  default:
    - step:
        name: Run Tests
        services:
          - postgres
        caches:
          - pip
        script:
          - echo $DATABASE_URL
          - pip install -r requirements.txt
          - pip install pytest psycopg[binary] pytest-django
          - python manage.py migrate --noinput
          - pytest -v main/tests --junitxml=test-reports/report.xml
        artifacts:
          - test-reports/**

definitions:
  services:
    postgres:
      image: postgres:13
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: password
        POSTGRES_DB: postgres
