* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

svg {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: multiply;
    pointer-events: none;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background-svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

.background-svg svg {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

#path1, #path2 {
    mix-blend-mode: multiply;
}

#path2 {
    opacity: .7;
}

.section1 #fill1 .stop1 {
    stop-color: #5bc0ff	;
}

.section1 #fill1 .stop2 {
    stop-color: #6d3a83;
}

.section1 #fill2 .stop1 {
    stop-color: #3a9bdc;
}

.section1 #fill2 .stop2 {
    stop-color: #3c215d;
}

.content-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-container {
    background-color: white;
    border-radius: 10px;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.welcome-container img {
    height: 70px;
}