* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

svg {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: multiply;
    pointer-events: none;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background-svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

.background-svg svg {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

#path1, #path2 {
    mix-blend-mode: multiply;
}

#path2 {
    opacity: .7;
}

.section1 #fill1 .stop1 {
    stop-color: #5bc0ff	;
}

.section1 #fill1 .stop2 {
    stop-color: #6d3a83;
}

.section1 #fill2 .stop1 {
    stop-color: #3a9bdc;
}

.section1 #fill2 .stop2 {
    stop-color: #3c215d;
}

.content-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.welcome-container {
    width: 90%;
    max-width: 390px;
    height: 50%;
    min-height: 450px;
    margin: auto;
    margin-top: 15vh;
    background-color: white;
    border-radius: 10px;
    padding: 77px 15px 33px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-container img {
    flex: 1;
    width: 100%;
    max-width: 360px;
    padding-bottom: 40px;
    object-fit: contain;
    
}

.welcome-container h1 {
    flex: 1;
    font-size: 28px;
}

.welcome-container .home-options {
    flex: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.welcome-container .home-options .btn {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000f26;
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
    padding: 0, 20px;
    border-radius: 30px;
    width: 100%;
    height: 50px;
}

@media (min-width: 576px) {
    .welcome-container {
        max-width: 390px;
    }

    .welcome-container img {
        max-width: 280px;
    }
}